@keyframes movetoLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
    color: white;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    color: white;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotateX(180deg);
    color: black;
  }
  100% {
    transform: rotateX(0deg);
  }
}
@keyframes rotateIcon {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
}
header {
  position: relative;
}
.background {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      to top right,
      rgba(255, 255, 255, 0.7),
      rgba(70, 70, 70, 0.7)
    ),
    url(https://source.unsplash.com/1600x900/?nature,mountains);
  background-position: top;
  background-size: cover;
}
.nav--bar {
  text-transform: uppercase;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  display: flex;
  padding: 0.5rem 0.8rem;
  background-color: white;
  opacity: 0.5;
}
.nav--bar i {
  animation: rotateIcon 1s 2 ease-in-out;
}
.header--title {
  flex: 50%;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin-left: 1rem;
}
.header--navigation {
  font-size: 1rem;

  font-weight: 600;
  float: right;
}
.header--navigation ul {
  display: flex;
  list-style-type: none;
}
.header--navigation ul li {
  margin: 0.3rem 1.1rem;
}
.header--navigation ul li a {
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: black;
}

.header--info {
  width: 100%;
  height: 50%;
  text-transform: uppercase;
  font-size: 2.3rem;
  font-weight: 900;
  position: absolute;
  letter-spacing: 0.7rem;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
}
.header--info-1 {
  animation: fadeIn 1s 0.5s ease-in;
  animation-fill-mode: backwards;
}
#header--info-1__dev {
  display: inline-block;
  color: aliceblue;
  animation: rotate 1s 1.7s ease-out;
  animation-fill-mode: backwards;
}
.header--info-2 {
  display: inline-block;
  animation: movetoLeft 1.5s 1.5s ease-in;
  animation-fill-mode: backwards;
}
.header--downIcon {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.description {
  margin: 1.5rem 0;
  padding: 1.5rem;
  text-align: center;
}
.description h2 {
  font-weight: 700;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.description--container__about {
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.5rem;
  text-align: justify;
  text-transform: uppercase;
  padding: 1rem;
  letter-spacing: 0.5rem;
}
.description--col {
  position: relative;
  font-size: 2.3rem;
  height: 100%;
}
.Projects {
  margin: 4rem 0;
}
.contactCol {
  text-align: center;
  margin: 1.2rem 0;
  padding: 1.2rem 0;
}
.footerCol {
  text-align: center;
}
footer p {
  text-align: center;
  margin-top: 0.7rem;
}
footer a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: 400;
}
@media screen and (max-width: 400px) {
  * {
    font-size: 12px;
  }
}
